version: '3'

services:
  postgres:
    image: postgres:latest
    ports:
      - 5432:5432

  redis:
    image: redis:latest
    ports:
      - 6379:6379

  app:
    build:
      context: .
      dockerfile: Dockerfile
    command:    bash -c "pip install -r requirements.txt && python manage.py collectstatic --noinput && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    stdin_open: true
    tty:        true
    volumes:
      - .:/app
    ports:
      - 8000:8000
    links:
      - postgres
      - redis
    environment:
      REDIS_URL:    redis://redis
      DATABASE_URL: postgres://postgres@postgres/postgres
      DB_HOST:      postgres
      DB_PORT:      5432
      DB_NAME:      postgres
      DB_USER:      postgres
